* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font: normal 400 16px/1.64 "Roboto", sans-serif;
  color: #222;
  background: #fafafa;
}

body {
  display: flex;
  flex-flow: column;
  height: 100vh;
  overflow: hidden;
}
body.loading {
  display: none;
}

#state {
  position: absolute;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(128, 128, 128, 0.75);
  font: normal 400 28px/2 "Roboto", sans-serif;
}
#state.hidden {
  display: none;
}

h1, h2, h3, h4 {
  font-weight: 300;
  line-height: 1;
}
h2, h3, h4 {
  margin-bottom: 0.25em;
}

.page-header {
  height: 50px;
  position: relative;
  z-index: 1;
  text-align: center;
  background: #ffffff;
  box-shadow: 0 1px 3px rgba(0,0,0,.25);
}

.page-header h1, .page-header h4 {
  line-height: 50px;
}

a {
  color: inherit;
  text-decoration: none;
  border-bottom: 1px solid rgba(0,0,0,0.25);
}
a:hover {
  background: rgba(0,0,0,0.1);
}
p {
  margin: .2em 0;
}
strong, b {
  font-weight: 500;
}
ul {
  padding-left: 1.6em;
}
li {
  margin: 0.1em 0;
}
ul.unstyled {
  padding-left: 0;
  list-style: none;
}

dl dt {
  float: left;
  width: 50%;
}
dl:after, dl:before {
  display: table;
  content: ' ';
}
dl:after {
  clear: both;
}
.hidden {
  display: none;
}

main {
  display: flex;
  flex-flow: column nowrap;
  height: calc(100vh - 50px);
}

#menu {
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  width: 50px;
  height: 50px;
  padding: 15px;
}
#menu h4 {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: -85%;
}
#menu svg {
  position: relative;
  right: 0;
  transition: margin-right .2s ease-out;
}
#menu.open svg {
  margin-right: -40px;
}

aside {
  position: absolute;
  top: 50px;
  right: -100%;
  transition: right .3s ease-in-out;
  bottom: 0;
  width: 350px;
  max-width: 90%;
  background: #fcfcfc;
  box-shadow: -1px 0 3px rgba(0,0,0,.25);
  font-size: 0.95em;
  display: flex;
  flex-direction: column;
  border-left: 1px solid rgba(0,0,0,0.1);
}
aside.open {
  right: 0%;
}
.sidebar {
  padding: 2em;
  flex: 3 0;
}
.sidebar.playerlist {
  overflow-y: auto;
}
footer.sidebar {
  color: #888;
  flex: 1 1;
  display: flex;
}
footer div {
  align-self: flex-end;
}

.question-container {
  flex: 1;
  padding: 1em;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.question-container p {
  text-align: center;
}
.question {
  font: normal 300 20px/1.2 "Roboto", sans-serif;
  padding: 0 10%;
  align-self: center;
}
.question-info {
  opacity: 0.5;
}
.question-categories {
}
.question-hint {
  font-size: 1.1em;
}
.question-hint kbd {
  letter-spacing: .15em;
  background: rgba(0,0,0,.1);
  border: 1px solid rgba(0,0,0,.1);
  border-radius: .3em;
  padding: .3em;
}

.timer {
  font: normal 500 16px/1.5 "Roboto", sans-serif;
  position: relative;
  background: rgba(0,0,0,0.05);
  height: 1.3em;
  box-shadow: 0 10px 25px #fcfcfc;
}
.timer div {
  position: absolute;
  height: 1.3em;
}
.timer-value {
  width: 100%;
  text-align: center;
}
.timer-bar {
  background: rgba(0,255,0,0.25);
}
.timer-bar.colorless {
  background: rgba(0,0,0,0.1);
}

.chat {
  flex: 1;
  overflow-y: scroll;
  padding: 1em;
}
.chat .system {
  color: #888;
}
.chat p {
  display: flex;
}
.chat a {
  border-bottom: 1px solid #888;
}
.chat span {
  flex: 1;
}
.chat time {
  align-self: flex-end;
  opacity: 0.1;
}
.chat p:hover time {
  opacity: 0.5;
}
.chat-form {
}
.chat-form button {
  display: none;
}
input {
  width: 100%;
  border: 1px solid rgba(0,0,0,.5);
  font: normal 400 16px/1.64 "Roboto", sans-serif;
  padding: .2em .4em;
}


@media only screen and (min-device-width: 480px) {
  #state {
    font-size: 48px;
  }
  #menu h4 {
    display: block;
  }
  .question {
    font-size: 32px;
  }
}
