* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font: normal 400 16px/1.64 "Roboto", sans-serif;
  color: #222;
  background: #fafafa;
  height: 100%;
  min-height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}
body.loading {
  display: none;
}

#state {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(128, 128, 128, 0.75);
  font: normal 400 48px/2 "Roboto", sans-serif;
}
#state.hidden {
  display: none;
}

h1, h2, h3, h4 {
  font-weight: 300;
  line-height: 1;
}
h2, h3, h4 {
  margin-bottom: 0.25em;
}

.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  background: #ffffff;
  box-shadow: 0 1px 3px rgba(0,0,0,.25);
}
.header-item {
}
.header-title {
  flex: 5;
  text-align: center;
}
.header-info {
  flex: 1;
  display: flex;
  line-height: 50px;
  align-items: stretch;
  justify-content: space-around;
}
.header-info span, .header-info a {
  flex: 1 0;
  text-align: center;
  border: none;
}

a {
  color: inherit;
  text-decoration: none;
  border-bottom: 1px solid rgba(0,0,0,0.25);
}
a:hover {
  background: rgba(0,0,0,0.1);
}
p {
  margin: .2em 0;
}
strong, b {
  font-weight: 500;
}
ul {
  padding-left: 1.6em;
}
li {
  margin: 0.1em 0;
}
ul.unstyled {
  padding-left: 0;
  list-style: none;
}

.page {
  flex: 1;
  display: flex;
}
main {
  flex: 5;
  align-self: stretch;
  display: flex;
  flex-direction: column;
}
aside {
  flex: 1;
  font-size: 0.95em;
  display: flex;
  flex-direction: column;
  border-left: 1px solid rgba(0,0,0,0.1);
}
.sidebar {
  padding: 2em;
  flex: 3 0;
}
.sidebar.playerlist {
  overflow-y: auto;
}
footer.sidebar {
  color: #888;
  flex: 1 1;
  display: flex;
}
footer div {
  align-self: flex-end;
}

.question-container {
  flex: 1;
  padding: 1em;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.question-container p {
  text-align: center;
}
.question {
  font: normal 300 32px/1.2 "Roboto", sans-serif;
  padding: 0 10%;
  align-self: center;
}
.question-info {
  opacity: 0.5;
}
.question-categories {
}

.timer {
  font: normal 500 16px/1.5 "Roboto", sans-serif;
  position: relative;
  background: rgba(0,0,0,0.05);
  height: 1.3em;
  box-shadow: 0 10px 25px #fcfcfc;
}
.timer div {
  position: absolute;
  height: 1.3em;
}
.timer-value {
  width: 100%;
  text-align: center;
}
.timer-bar {
  background: rgba(0,255,0,0.25);
}
.timer-bar.colorless {
  background: rgba(0,0,0,0.1);
}

.chat {
  flex: 1;
  max-height: 44vh;
  overflow-y: scroll;
  padding: 1em;
}
.chat .system {
  color: #888;
}
.chat p {
  display: flex;
}
.chat a {
  border-bottom: 1px solid #888;
}
.chat span {
  flex: 1;
}
.chat time {
  align-self: flex-end;
  opacity: 0.1;
}
.chat p:hover time {
  opacity: 0.5;
}
.chat-form {
}
.chat-form button {
  display: none;
}
input {
  width: 100%;
  border: 1px solid rgba(0,0,0,.5);
  font: normal 400 16px/1.64 "Roboto", sans-serif;
  padding: .2em .4em;
}
