/**
 * trivia.ju.io stylesheet
 *
 * some parts taken from http://materializecss.com/
 */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
body {
  display: flex;
  flex-direction: column;
  height: 100vh;

  font: normal 400 16px/1.64 "Roboto", sans-serif;
  color: #212121;
  background: #ffffff;
}

.page-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(96, 125, 139, 0.75);  /* #607d8b blue-grey */
}

.page-status {
  font: normal 400 28px/2 "Roboto", sans-serif;
}

.hidden {
  display: none;
}

h1, h2, h3, h4, summary {
  font-weight: 300;
  line-height: 1;
}
h2, h3, h4 {
  margin-bottom: 0.25em;
}
summary {
  font-size: 1.2em;
}

.page-header {
  height: 50px;
  position: relative;
  z-index: 1;
  text-align: center;
  background: #4db6ac;
}

.page-header h1 {
  line-height: 50px;
}

a {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
  border-bottom: 1px solid rgba(0,0,0,0.25);
}
a:hover {
  background: rgba(0,0,0,0.1);
}
p {
  margin: .2em 0;
}
strong, b {
  font-weight: 500;
}
ul {
  padding-left: 1.6em;
}
li {
  margin: 0.1em 0;
}
ul.unstyled {
  padding-left: 0;
  list-style: none;
}

.z1 {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
button.z2:active, .button.z2:active,
.z1-5 {
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}
button.z3:active, .button.z3:active,
.z2 {
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
button.z4:active, .button.z4:active,
.z3 {
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
button.z5:active, .button.z5:active,
.z4 {
  box-shadow: 0 16px 28px 0 rgba(0, 0, 0, 0.22), 0 25px 55px 0 rgba(0, 0, 0, 0.21);
}
.z5 {
  box-shadow: 0 27px 24px 0 rgba(0, 0, 0, 0.2), 0 40px 77px 0 rgba(0, 0, 0, 0.22);
}

button, .button {
  border: none;
  border-radius: 2px;
  display: inline-block;
  height: 50px;
  line-height: 50px;
  outline: 0;
  padding: 0 2rem;
  margin-bottom: .6rem;
  text-transform: uppercase;
  vertical-align: middle;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
  color: #ffffff;
  background: #009688;
}
button:hover, .button:hover {
  background: #00897b;
}
button.flat, .button.flat {
  color: #212121;
  background: transparent;
}
button.flat:hover, .button.flat:hover {
  background: #eceff1;
}

button.tiny, .button.tiny {
  height: 25px;
  line-height: 1.6;
  padding: 0 1rem;
}

button.positive, .button.positive {
  background: #4caf50;
}
button.positive:hover, .button.positive:hover {
  background: #43a047;
}
button.negative, .button.negative {
  background: #f44336;
}
button.negative:hover, .button.negative:hover {
  background: #e53935;
}

dl, ul.unstyled {
  margin-bottom: .5rem;
}
dl dt {
  float: left;
  width: 50%;
}
dl:after, dl:before {
  display: table;
  content: ' ';
}
dl:after {
  clear: both;
}
.hidden {
  display: none;
}

main {
  display: flex;
  flex-flow: column nowrap;
  height: calc(100vh - 50px);
}

.page-header .menu-trigger {
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 50px;
  border: none;
  padding: 15px;
}
.menu-trigger {
  border-radius: 0;
}
.menu-trigger svg {
  position: relative;
  right: 0;
}

aside {
  position: fixed;
  top: 0;
  right: -105%;
  transition: right .3s ease-in-out;
  height: 100vh;
  width: 350px;
  max-width: 90%;
  background: #ffffff;
  color: #607d8b;
  z-index: 2;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}
aside.open {
  right: 0%;
}
.sidebar {
  padding: 2em;
  flex: 3 0;
}
.sidebar.playerlist {
  overflow-y: auto;
}
footer.sidebar {
  flex: 1 1;
  display: flex;
}
footer div {
  align-self: flex-end;
}

.question-container {
  flex: 1;
  padding: 1em;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.question-container p {
  text-align: center;
}
.question {
  font: normal 300 20px/1.2 "Roboto", sans-serif;
  padding: 0 10%;
  align-self: center;
}
.question-info {
  color: #607d8b;
}
.question-categories {
}
.question-hint {
  font-size: 1.1em;
}
.question-hint kbd {
  letter-spacing: .15em;
  background: rgba(96, 125, 139, .5);  /* #607d8b */
  border: 1px solid rgba(96, 125, 139, .75);
  border-radius: .3em;
  padding: .3em;
}
.question-vote button {
  margin: 0 .5rem;
}

.timer {
  font: normal 500 16px/1.5 "Roboto", sans-serif;
  position: relative;
  background-color: rgba(236, 239, 241, 1); /* eceff1 */
  height: 1.3em;
  box-shadow: 0 10px 25px #eceff1;
}
.timer div {
  position: absolute;
  height: 1.3em;
}
.timer-value {
  width: 100%;
  text-align: center;
  will-change: width;
}
.timer-bar {
  will-change: background-color;
}
.timer-bar.colorless {
  background-color: rgba(0, 0, 0, .1);
}

.chat {
  flex: 1;
  overflow-y: scroll;
  padding: 1em;
  background: #eceff1;
}
.chat .system {
  color: #607d8b;
}
.chat p {
  display: flex;
}
.chat a {
  border-bottom: 1px solid #607d8b;
}
.chat span {
  flex: 1;
}
.chat time {
  align-self: flex-end;
  opacity: 0.25;
}
.chat p:hover time {
  opacity: 0.75;
}

.announce > span {
  position: relative;
}
.announce hr {
  border: none;
  border-bottom: 1px solid #b0bec5;
  margin: .75em 0;
}
.announce span span {
  position: absolute;
  top: 0;
  width: 100.5%;
  text-align: center;
}
.announce em {
  display: inline-block;
  font-style: normal;
  padding: 0 1em;
  background: #eceff1;
}

.chat-form button {
  display: none;
}
.chatinput {
  border: 1px solid rgba(0,0,0,.5);
  padding: .2em .4em;
}

input[type=text],
input[type=password],
input[type=email],
input[type=url],
input[type=number] {
  font: normal 400 16px/1.64 "Roboto", sans-serif;
  width: 100%;
}

.error {
  color: #f44336;
}
.form-input {
  position: relative;
  margin-top: 1rem;
}
.form-input label {
  color: #9e9e9e;
  position: absolute;
  top: 0.8rem;
  left: 0;
  font-size: 1rem;
  cursor: text;
  transition: all .2s ease-out;
}
.form-input input:focus + label,
.form-input input:valid + label {
  font-size: .8rem;
  transform: translateY(-140%);
}
.form-input input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #9e9e9e;
  outline: none;
  height: 3rem;
  font-size: 1rem;
  margin: 0 0 15px 0;
  padding: 0;
  box-shadow: none;
  box-sizing: content-box;
  transition: all .3s;
}
.form-input input:focus + label {
  color: #26a69a;
}
.form-input input:focus {
  border-bottom: 1px solid #26a69a;
  box-shadow: 0 1px 0 0 #26a69a;
}


.page-modal {
  opacity: 0.0;
  transition: opacity .2s ease-in;
}
.page-modal.show {
  opacity: 1.0;
}
.modal-content {
  position: relative;
  background: #fafafa;
  padding: 1.5rem;
  max-height: 80%;
  width: 90%;
  margin: auto;
  overflow-y: auto;
  border-radius: 2px;
}
.modal-content .form-input {
  margin: 1rem 0;
}

.modal-close {
  position: absolute;
  top: 24px;
  right: 32px;
  height: 36px;
  width: 38px;
  padding: 0;
  text-align: center;
  font: normal 500 28px/36px 'Roboto', sans-serif;
}

/* statistics */
table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 1rem;
}
th, td {
  padding: .15rem .3rem;
}
th {
  text-align: left;
  font-weight: 400;
}
.numbers thead th, .numbers td {
  text-align: right;
}
tbody tr:nth-child(odd) {
  background: #eceff1;
}
tbody tr:hover {
  background: #cfd8dc;
}
.numbers td {
  font-weight: 300;
  width: 15%;
}


.form-checkbox {
  margin-bottom: 10px;
  text-align: left;
}
.form-checkbox:last-child {
  margin-bottom: 0;
}

input[type="checkbox"]:not(:checked),
input[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}

input[type="checkbox"] + label {
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  display: inline-block;
  height: 25px;
  line-height: 25px;
  font-size: 1rem;

  user-select: none;
}

input[type="checkbox"] + label:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 18px;
  height: 18px;
  z-index: 0;
  border: 2px solid #5a5a5a;
  border-radius: 1px;
  margin-top: 2px;
  transition: all .2s linear;
}

input[type="checkbox"]:checked + label:before {
  top: -4px;
  left: -3px;
  width: 12px; height: 22px;
  border-top: 2px solid transparent;
  border-left: 2px solid transparent;
  border-right: 2px solid #26a69a;
  border-bottom: 2px solid #26a69a;
  transform: rotate(40deg);
  transform-origin: 100% 100%;
  -webkit-backface-visibility: hidden;
}

h2 + .progress {
  margin-top: 2rem;
}

.progress {
  position: relative;
  height: 4px;
  display: block;
  width: 100%;
  background-color: #acece6;  /* teal lighten-1 40% */
  border-radius: 2px;
  margin: .5rem 0 .5rem 0;
  overflow: hidden;
}
.progress .indeterminate {
  background-color: #26a69a;
}
.progress .indeterminate:before {
  content: '';
  position: absolute;
  background-color: inherit;
  top: 0;
  left: 0;
  bottom: 0;
  will-change: left, right;
  -webkit-animation: indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
  animation: indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
}
.progress .indeterminate:after {
  content: '';
  position: absolute;
  background-color: inherit;
  top: 0;
  left: 0;
  bottom: 0;
  will-change: left, right;
  -webkit-animation: indeterminate-short 2.1s cubic-bezier(0.165, 0.840, 0.440, 1.000) infinite;
  animation: indeterminate-short 2.1s cubic-bezier(0.165, 0.840, 0.440, 1.000) infinite;
  -webkit-animation-delay: 1.15s;
  animation-delay: 1.15s;
}

@-webkit-keyframes indeterminate {
  0% {
    left: -35%;
    right:100%;
  }
  60% {
    left: 100%;
    right: -90%;
  }
  100% {
    left: 100%;
    right: -90%;
  }
}
@-webkit-keyframes indeterminate-short {
  0% {
    left: -200%;
    right: 100%;
  }
  60% {
    left: 107%;
    right: -8%;
  }
  100% {
    left: 107%;
    right: -8%;
  }
}


@media only screen and (min-device-width: 480px) {
  .page-status {
    font-size: 48px;
  }
  .question {
    font-size: 32px;
  }
  .modal-content {
    padding: 2rem;
    width: auto;
    max-height: 70%;
    min-width: 40%;
    max-width: 55%;
  }
}
