{% extends 'base.html' %}
{% from '_formhelpers.html' import render_field %}

{% block content %}
  <div class="row">
    <div class="large-12 columns">
    {% if player %}
      <h1>Player #{{ player.id }}</h1>
    {% else %}
      <h1>New Player</h1>
    {% endif %}

      <form method="post">
        <fieldset>
          {% if player %}
            <legend>Update existing player</legend>
          {% else %}
            <legend>Create a new player</legend>
          {% endif %}

          {{ render_field(form.name) }}
          {{ render_field(form.email) }}

          <button type="submit" class="small primary">Save</button>
          <a href="{{ url_for('player_list') }}" class="button small secondary">
            Back
          </a>
        </fieldset>
      </form>
    </div>
  </div>
{% endblock %}
