<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Trivia Admin</title>
  <meta name="robots" content="noindex,nofollow,noarchive">
  <link rel="stylesheet" href="/static/css/foundation.css">
  <style>
  #category_list li { padding-bottom: 0; }
  </style>
  <script src="/static/js/vendor/modernizr.js"></script>
</head>
<body>
  <nav class="top-bar" data-topbar>
    <ul class="title-area">
      <li class="name">
        <h1>
          <a href="/">
            Trivia Admin
          </a>
        </h1>
      </li>
      <li class="toggle-topbar menu-icon">
        <a href="#"><span>Menu</span></a>
      </li>
    </ul>
    <section class="top-bar-section">
      <ul class="left">
        <li class="divider"></li>
          <li>
            <a href="{{ url_for('question_list') }}">Questions</a>
          </li>
          <li class="divider"></li>
          <li>
            <a href="{{ url_for('category_list') }}">Categories</a>
          </li>
          <li class="divider"></li>
      </ul>
      <ul class="right">
        <li class="divider"></li>
        <li class="has-dropdown">
          <a href="#">Account</a>
          <ul class="dropdown">
            <li><a href="#">Settings</a></li>
            <li class="divider"></li>
            <li><a href="#">Logout</a></li>
          </ul>
        </li>
      </ul>
    </section>
  </nav>

  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      {% for category, message in messages %}
        <div data-alert class="alert-box {{ category }}">
          {{ category.upper() }}: {{ message }}
          <a href="#" class="close">&times;</a>
        </div>
      {% endfor %}
    {% endif %}
  {% endwith %}

  {% block content %}{% endblock %}

  <script src="/static/js/vendor/jquery.js"></script>
  <script src="/static/js/foundation.min.js"></script>
  <script>
    $(document).foundation();
  </script>
</body>
</html>
