<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>TriviaRoyale</title>
    <meta
      name="description"
      content="Compete against other players in TriviaRoyale, an online multiplayer trivia game! Only the first to solve wins points!"
    />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="theme-color" content="#009688" />
    <link
      rel="stylesheet"
      href="//fonts.googleapis.com/css?family=Roboto:400,300,500"
    />
    <link rel="stylesheet" href="/static/css/style.css?v2.5" />
    <link rel="stylesheet" href="/static/css/vendor.css?v2.2" />
    <script type="text/javascript">
      var _paq = _paq || [];
      _paq.push(["trackPageView"]);
      _paq.push(["enableLinkTracking"]);
      (function () {
        var u = "https://a.julianwachholz.dev/";
        _paq.push(["setTrackerUrl", u + "piwik.php"]);
        _paq.push(["setSiteId", "2"]);
        _paq.push(["enableHeartBeatTimer"]);
        var d = document,
          g = d.createElement("script"),
          s = d.getElementsByTagName("script")[0];
        g.type = "text/javascript";
        g.async = true;
        g.defer = true;
        g.src = u + "piwik.js";
        s.parentNode.insertBefore(g, s);
      })();
    </script>
  </head>
  <body id="body" class="hidden">
    <header class="page-header z1">
      <h1>TriviaRoyale</h1>
      <a id="menu" class="menu-trigger" href="#aside" title="Open / close menu">
        <svg width="100%" height="100%" viewBox="0 0 10 10">
          <path d="M0,1 10,1" stroke="#444" stroke-width="2" />
          <path d="M0,5 10,5" stroke="#444" stroke-width="2" />
          <path d="M0,9 10,9" stroke="#444" stroke-width="2" />
        </svg>
      </a>
    </header>
    <main>
      <section id="game" class="question-container"></section>
      <div id="timer" class="timer"></div>
      <section id="chat" class="chat"></section>
      <form id="form" class="chat-form">
        <input
          id="chatinput"
          class="chatinput"
          type="text"
          placeholder="Message chat"
          maxlength="250"
          autocomplete="off"
          disabled
        />
        <button type="submit">Chat</button>
      </form>
    </main>
    <aside id="aside" class="z2">
      <button id="menu_close" class="menu-trigger">
        Close Sidebar
      </button>
      <div class="sidebar">
        <h3>Statistics</h3>
        <dl>
          <dt>Name</dt>
          <dd id="playername">--</dd>
          <dt>Ping</dt>
          <dd id="ping">n/a</dd>
          <dt>Points (last 1h)</dt>
          <dd id="points-1h">-- (--)</dd>
          <dt>Points (today)</dt>
          <dd id="points-day">-- (--)</dd>
        </dl>
        <button
          class="tiny"
          onclick="showModal('ajax', '{{ url_for('stats_user') }}?name=' + encodeURIComponent(localStorage.getItem('playername')))"
        >
          More Statistics
        </button>
      </div>
      <div class="sidebar playerlist">
        <h3><span id="playercount">0 Players</span></h3>
        <ul class="unstyled" id="playerlist"></ul>
        <button
          class="tiny"
          onclick="showModal('ajax', '{{ url_for('highscores', year=now.year, month=now.month) }}')"
        >
          Highscores
        </button>
        <button
          class="tiny"
          onclick="showModal('ajax', '{{ url_for('stats_search') }}')"
        >
          Search players
        </button>
      </div>
      <footer class="sidebar">
        <div>
          <h3>Functions</h3>
          <button class="tiny" id="changename">Login</button>
          <button class="tiny" id="changepassword" class="hidden">
            Change password
          </button>
          <button class="tiny" id="logout">Logout</button>
          <button class="tiny" id="theme">Toggle Dark Mode</button>
        </div>
      </footer>
    </aside>

    <div id="sidebarnag" class="z1 hidden">
      Show statistics and more options!
    </div>

    <div id="modal" class="page-overlay page-modal hidden">
      <div id="modalcontent" class="modal-content z3">
        <div id="modaltext"></div>
        <form id="modalform" class="modal-form" method="post" action="#">
          <input type="hidden" name="command" value="" id="modalcommand" />
          <div id="modalinputs"></div>
          <button type="submit" id="modalsubmit">Submit</button>
          <button class="flat" id="modalcancel">Cancel</button>
        </form>
        <a id="modalclose" class="modal-close button">&times;</a>
      </div>
    </div>

    <div id="pagestatus" class="page-overlay page-status hidden"></div>

    <script>
      var WS_ADDR = "{{ WS_ADDR }}";
    </script>
    <script src="/static/reconnecting-websocket.min.js"></script>
    <script src="/static/js/app.js?v2.5"></script>
  </body>
</html>
