<h2>Statistics Search</h2>

{% if error %}
  <p class="error">{{ error }}</p>
{% else %}
  <p>Enter the player name you'd like to look up.</p>
{% endif %}

{% if suggestions %}
  <p>Did you mean one of these?</p>
  <ul>
  {% for player in suggestions %}
    <li>
      <a onclick="showModal('ajax', '{{ url_for('stats_user') }}?name={{ player.name }}')">{{ player.name }}</a>
    </li>
  {% endfor %}
  </ul>
{% endif %}

<form id="statsform" method="get" action="{{ url_for('stats_user') }}" onsubmit="ajaxForm(event, this)">
  <div class="form-input">
    <input type="text" tabindex="1" name="name" id="name" maxlength="30" value="{{ name }}" required>
    <label for="name">Nickname</label></div>
  </div>
  <button type="submit">Search</button>
</form>
