<h2>Statistics for {{ player.name }}</h2>
<dl>
  <dt>Playing since</dt>
  <dd>{{ player.date_joined.strftime('%A, %B %d %Y') }}</dd>
  <dt>Last login</dt>
  <dd>{{ player.last_played|timesince }} ago</dd>
</dl>
<table class="responsive numbers">
  <summary>Trivia Statistics</summary>
  <thead>
    <tr>
      <th class="left" scope="col">Date</th>
      {% for legend in legends %}
        <th scope="col">{{ legend }}</th>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
  {% for range, (date, values) in stats.items() %}
    <tr>
      <th scope="row">
        <a href="{{ url_for_highscore(range, date.0 if range == 'week' else date) }}?player={{ player.name|urlencode }}">
        {% if range == 'day' %}
          {{ date.strftime('%B %d, %Y') }}
        {% endif %}
        {% if range == 'week' %}
          <abbr title="From {{ date.0.strftime('%B %d') }} to {{ date.1.strftime('%B %d') }}">
            Week {{ date.0.isocalendar().1 }}, {{ date.0.year }}
          </abbr>
        {% endif %}
        {% if range == 'month' %}
          {{ date.strftime('%B %Y') }}
        {% endif %}
        {% if range == 'year' %}
          {{ date.year }}
        {% endif %}
        </a>
      </th>
      {% for num in values %}
        <td data-legend="{{ legends[loop.index0] }}">
          {{ num|format_number(2) }}
          {%- if loop.index0 > 3 %}<small>s</small>{% endif %}
        </td>
      {% endfor %}
    </tr>
  {% endfor %}
  </tbody>
  {#
  <tfoot>
    <tr>
      <td></td>
      <td>
        <a href="{{ url_for_highscore('day', dates.0) }}?player={{ player.name|urlencode }}">
          Highscores
        </a>
      </td>
      <td>
        <a href="{{ url_for_highscore('week', dates.1.0) }}?player={{ player.name|urlencode }}">
          Highscores
        </a>
      </td>
      <td>
        <a href="{{ url_for_highscore('month', dates.2) }}?player={{ player.name|urlencode }}">
          Highscores
        </a>
      </td>
      <td>
        <a href="{{ url_for_highscore('year', dates.3) }}?player={{ player.name|urlencode }}">
          Highscores
        </a>
      </td>
    </tr>
  </tfoot>
  #}
</table>

<a class="button tiny" href="{{ url_for('stats_search') }}">Search users</a>

{% if backlink %}
  <a class="button tiny" href="{{ backlink }}">
    Back to Highscores
  </a>
{% endif %}
