<h2>Statistics for {{ player.name }}</h2>
<dl>
  <dt>Playing since</dt>
  <dd>{{ player.date_joined.strftime('%A, %B %d %Y') }}</dd>
  <dt>Last login</dt>
  <dd>{{ player.last_played|timesince }} ago</dd>
</dl>
<table class="numbers">
  <summary>Trivia Statistics</summary>
  <thead>
    <tr>
      <td></td>
      <th scope="col">{{ dates.0.strftime('%B %d, %Y') }}</th>
      <th scope="col">
        <abbr title="From {{ dates.1.0 }} to {{ dates.1.1 }}">
          Week {{ dates.1.0.isocalendar().1 }} {{ dates.1.0.year }}
        </abbr>
      </th>
      <th scope="col">{{ dates.2.strftime('%B %Y') }}</th>
      <th scope="col">All time</th>
    </tr>
  </thead>
  <tbody>
  {% for row in values %}
    {% set outer_loop = loop %}
    <tr>
      <th scope="row">{{ legends[loop.index0] }}</th>
      {% for num in row %}
        <td>
          {{ num|format_number(2) }}{% if outer_loop.index0 > 3 %}<small>s</small>{% endif %}
        </td>
      {% endfor %}
    </tr>
  {% endfor %}
  </tbody>
</table>

<button class="tiny" onclick="showModal('ajax', '/stats/search/');">Search user</button>
