{% extends 'base.html' %}
{% from '_formhelpers.html' import render_field %}

{% block content %}
  <div class="row">
    <div class="large-12 columns">
    {% if category %}
      <h1>Category {{ category.name }}</h1>
    {% else %}
      <h1>New Category</h1>
    {% endif %}

      <form method="post">
        <fieldset>
          {% if category %}
            <legend>Update existing category</legend>
          {% else %}
            <legend>Create a new category</legend>
          {% endif %}

          {{ render_field(form.name) }}

          <button type="submit" class="small primary">Save</button>
          <a href="{{ url_for('category_list') }}" class="button small secondary">
            Back
          </a>
        </fieldset>
      </form>
    </div>
  </div>
{% endblock %}
