{% extends 'base.html' %}
{% block content %}
  <div class="row">
    <div class="large-12 columns">

      <h1>Categories</h1>

      <a href="{{ url_for('category_form') }}" class="button tiny primary">
        New Category
      </a>

      <table width="100%">
        <thead>
          <tr>
            <th scope="column">Category</th>
            <th scope="column" width="100">Questions</th>
            <th scope="column" width="150">Actions</th>
          </tr>
        </thead>
        <tbody>
        {% for id, category, question_count in category_list %}
          <tr>
            <td>{{ category }}</td>
            <td class="right">
              <a href="{{ url_for('question_list') }}?c={{ id }}">
                {{ question_count }}
              </a>
            </td>
            <td>
              <a href="{{ url_for('category_form', id=id) }}">
                Modify
              </a>
              <a href="{{ url_for('category_delete', id=id) }}">
                Delete
              </a>
            </td>
          </tr>
        {% endfor %}
        </tbody>
        <tfoot>
          <tr>
            <td colspan="3">
              {{ category_count }} Categories
            </td>
          </tr>
        </tfoot>
      </table>

      {% include '_pagination.html' %}
    </div>
  </div>
{% endblock %}
